<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Заказов</title>
</head>
<body>
    <h1>Список Заказов</h1>
    
    <form action="/add" method="post">
        <input type="text" name="barber_name" placeholder="Имя Барбера" required>
        <input type="text" name="client_name" placeholder="Имя Клиента" required>
        <input type="date" name="order_date" required>
        <button type="submit">Добавить Заказ</button>
    </form>

    <h2>Текущие Заказы:</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Имя Барбера</th>
            <th>Имя Клиента</th>
            <th>Дата Заказа</th>
            <th>Действия</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.barber_name }}</td>
            <td>{{ order.client_name }}</td>
            <td>{{ order.order_date }}</td>
            <td><a href="{{ url_for('delete_order', id=order.id) }}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>

    <h2><a href="{{ url_for('histogram') }}">Показать гистограмму заказов</a></h2>
</body>
</html>