<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Заказов</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Список Заказов</h1>
    
    <form action="/add" method="post">
        <label for="haircut_id">Стрижка:</label>
        <input type="number" name="haircut_id" placeholder="ID Стрижки" required>
        
        <label for="client_id">Клиент:</label>
        <input type="number" name="client_id" placeholder="ID Клиента" required>
        
        <label for="barber_id">Барбер:</label>
        <input type="number" name="barber_id" placeholder="ID Барбера" required>
        
        <button type="submit">Добавить Заказ</button>
    </form>

    <h2>Текущие Заказы:</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Стрижка</th>
            <th>Клиент</th>
            <th>Барбер</th>
            <th>Дата Заказа</th>
            <th>Действия</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ order.haircut.name if order.haircut else 'Неизвестно' }}</td>
            <td>{{ order.client.name if order.client else 'Неизвестно' }}</td>
            <td>{{ order.barber.name if order.barber else 'Неизвестно' }}</td>
            <td>{{ order.order_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td><a href="{{ url_for('delete_order', id=order.order_id) }}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>

    <h2><a href="{{ url_for('histogram') }}">Показать гистограмму заказов</a></h2>
</body>
</html>